.description {
    width: 55%;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .title{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center
  }

.tb-row{
    display:flex;
}

.head-titles{
    display: flex;
}

.title-title{
    width: 10%;
}

.title-description{
    width: 55%;
}